{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid p-5" style="background-image: url(../static/images/covid.jpg);background-size: cover; height: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-light text-center fw-bold">About Corano</h1>
        
      </div>
      
    </div>
  </div>
</div>

<div class="container-fluid p-5">
  <div class="container">
    <div class="row bg-light">
      <div class="col-6 p-5">
        <p style="color: blue;font-weight: bold;">ABOUT CORONA</p>

        <h1 style="font-weight: bold;">Coronavirus Disease 2019 (COVID-19)</h1><br>

        <p style="font-size: 20px;color: grey;">It is a long established fact that a reader will be distracted . The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p><br>

        <h3 style="font-weight: bold;">The best way to prevent illness is to avoid being exposed to this virus.</h3><br>

        <div class="row">
          <div class="col-6" style="font-size: 17px;color: grey;">
            <ul>
              <li>Clean AND disinfect frequently touched surfaces</li>
              <li>Avoid touching your eyes, nose, and mouth</li>
              <li>Clean your hands with a hand sanitizer</li>
              <li>Cover coughs and sneezes</li>
            </ul>
          </div>

          <div class="col-6" style="font-size: 17px;color: grey;">
            <ul>
              <li>Stay home if you’re sick</li>
              <li>Wear a facemask if sick</li>
              <li>Cover your mouth and nose</li>
              <li>Throw used tissues in trash</li>
              <li>Ensure solution has at least 70% alcohol.</li>
            </ul>
          </div>

          <div>
                <button type="submit" class="btn text-light" style="background-color: hotpink; border-radius: 30px;">Read More</button>
                <a href=""></a>
          </div>

        </div>

      </div>

      <div class="col-6">
        <img src="../static/images/bubbles.png" width="80%">
        <img src="../static/images/home3.png" width="80%">
      </div>
    
      
    </div>
    
  </div>
  
</div>

{% endblock %}


     