{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid p-5" style="background-image: url(../static/images/covid.jpg);background-size: cover; height: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-light text-center fw-bold">Our Team</h1>
        
      </div>
      
    </div>
  </div>
</div>


<div class="container-fluid p-5">
	<div class="container">
		<div class="row">

			<div class="col-4">
				<div class="card" style="">
  <img src="../static/images/doctor.jpg" class="card-img-top" alt="..." height="300px">
  <div class="card-body">
    <p class="card-text fw-bold text-center">Dr.Genoveva Leannon</p>
    <p class="card-text fw-bold text-center" style="color: hotpink;">Internal Medicine</p>
    <h5 style="color: gray;" class="text-center"><i class="icofont-ui-call" style="color: blue"></i>+44 555 67 890</h5>
  </div>
</div>
			</div>

			<div class="col-4">
				<div class="card" style="">
  <img src="../static/images/doctor2.jpg" class="card-img-top" alt="..." height="300px">
  <div class="card-body">
    <p class="card-text fw-bold text-center">Alen Bailey</p>
    <p class="card-text fw-bold text-center" style="color: hotpink;">Head Doctor</p>
    <h5 style="color: gray;" class="text-center"><i class="icofont-ui-call" style="color: blue;"></i>+44 555 67 890</h5>
  </div>
</div>
			</div>

			<div class="col-4">
				<div class="card" style="">
  <img src="../static/images/doctor3.jpg" class="card-img-top" alt="..." height="300px">
  <div class="card-body">
    <p class="card-text fw-bold text-center">Dr.Basil Andrew</p>
    <p class="card-text fw-bold text-center" style="color: hotpink;">Chief Doctor</p>
    <h5 style="color: gray;" class="text-center"><i class="icofont-ui-call" style="color: blue;"></i>+44 555 67 890</h5>
  </div>
</div>
			</div>
			
		</div>
		
	</div>
	
</div>


<div class="container-fluid p-5">
	<div class="container">
		<div class="row">

			<div class="col-4">
				<div class="card" style="">
  <img src="../static/images/doctor.jpg" class="card-img-top" alt="..." height="300px">
  <div class="card-body">
    <p class="card-text fw-bold text-center">Dr.Genoveva Leannon</p>
    <p class="card-text fw-bold text-center" style="color: hotpink;">Internal Medicine</p>
    <h5 style="color: gray;" class="text-center"><i class="icofont-ui-call" style="color: blue"></i>+44 555 67 890</h5>
  </div>
</div>
			</div>

			<div class="col-4">
				<div class="card" style="">
  <img src="../static/images/doctor2.jpg" class="card-img-top" alt="..." height="300px">
  <div class="card-body">
    <p class="card-text fw-bold text-center">Alen Bailey</p>
    <p class="card-text fw-bold text-center" style="color: hotpink;">Head Doctor</p>
    <h5 style="color: gray;" class="text-center"><i class="icofont-ui-call" style="color: blue;"></i>+44 555 67 890</h5>
  </div>
</div>
			</div>

			<div class="col-4">
				<div class="card" style="">
  <img src="../static/images/doctor3.jpg" class="card-img-top" alt="..." height="300px">
  <div class="card-body">
    <p class="card-text fw-bold text-center">Dr.Basil Andrew</p>
    <p class="card-text fw-bold text-center" style="color: hotpink;">Chief Doctor</p>
    <h5 style="color: gray;" class="text-center"><i class="icofont-ui-call" style="color: blue;"></i>+44 555 67 890</h5>
  </div>
</div>
			</div>
			
		</div>
		
	</div>
	
</div>

{% endblock %}



  
  