{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid p-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="{% static 'images/home4.png' %}" width="80%">
        
      </div>
      <div class="col-6">
        <h1 style="font-weight: bold;">Corona virus outbreak(covid-19)</h1><br>

        <p style="font-size: 20px;color: grey;">It is a long established fact that a reader will be distracted . The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p><br>

        <p style="font-size: 20px;color: grey;">A year on from the first cases of Coronavirus there is still lots to learn. One of the current discoveries is the debilitating affects of COVID during the "recovery" stage, despite the severity of the acute stage. The pages created/reviewed below form part of the ongoing learning associated with COVID and are being constantly updated as new information emerges.</p>
      </div>
      
    </div>
    
  </div>
  
</div>


<div class="container-fluid p-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/working-at-home.svg' %}" class="card-img-top" alt="..." height="175px">
  <div class="card-body">
    <p class="card-text fw-bold">Stay at Home</p>
    <p class="card-text" style="color: grey;">It is a long established fact that a reader will be distracted .</p>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/mask-2.svg' %}" class="card-img-top" alt="..." height="175px">
  <div class="card-body">
    <p class="card-text fw-bold">Protect Yourself</p>
    <p class="card-text" style="color: grey;">It is a long established fact that a reader will be distracted </p>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/sport-team.svg' %}" class="card-img-top" alt="..." height="175px">
  <div class="card-body">
    <p class="card-text fw-bold">Be Supportive</p>
    <p class="card-text" style="color: grey;">It is a long established fact that a reader will be distracted .</p>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/smartphone.svg' %}" class="card-img-top" alt="..." height="150px">
  <div class="card-body">
    <p class="card-text fw-bold">Toll Free No <br> (98145-22222)</p>
    <p class="card-text" style="color: grey;">It is a long established fact that a reader will be distracted .</p>
  </div>
</div>
      </div>
      
    </div>
    
  </div>
  
</div>


<div class="container-fluid p-5 bg-secondary text-light">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h2 style="color: hotpink;font-weight: bold;">434578+</h2>
        <h3 style="font-weight: bold;">Total Confirmed</h3>
      </div>
      <div class="col-3">
        <h2 style="color: hotpink;font-weight: bold;">170+</h2>
        <h3 style="font-weight: bold">Countries/Regions</h3>
      </div>
      <div class="col-3">
        <h2 style="color: hotpink;font-weight: bold;">10%</h2>
        <h3 style="font-weight: bold;">Total Recovered</h3>
      </div>
      <div class="col-3">
        <h2 style="color: hotpink;font-weight: bold;">80%</h2>
        <h3 style="font-weight: bold;">Confirmed Deaths</h3>
      </div>
    </div>
    
  </div>
  
</div>


<div class="container-fluid p-5">
  <div class="container">
    <div class="row text-center">
     
      <div class="col-12">
        <h6 style="font-weight: bold;color: skyblue;">PREVENTION CORONAVIRUS</h6><br>

        <h1 style="font-weight: bold;">How to Prevent Yourself.</h1><br>

        <p style="color: grey;font-size: 20px;">If you are healthy, you only need to wear a mask if you are 
        taking care <br>of a person with suspected 2019-nCoV infection.</p>
        
      </div>

      
      
    </div>
    
  </div>
  
</div>



<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/soap.jpg' %}" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <p class="card-text fw-bold">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/touch.jpg' %}" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <p class="card-text fw-bold">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/close.jpg' %}" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <p class="card-text fw-bold">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/stay.jpg' %}" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <p class="card-text fw-bold">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
      </div>
      
    </div>
    
  </div>
</div>


<div class="container-fluid p-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/mouth.jpg' %}" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <p class="card-text fw-bold">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/wash.jpg' %}" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <p class="card-text fw-bold">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/mask.png' %}" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <p class="card-text fw-bold">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="{% static 'images/clean.jpg' %}" class="card-img-top" alt="..." height="200px">
  <div class="card-body">
    <p class="card-text fw-bold">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
      </div>
      
    </div>
    
  </div>
</div>

<div class="container-fluid p-5 bg-light">
  <div class="container">
    <div class="row">

      <h5 class="text-center" style="color: blue;font-weight: bold;">BLOG</h5><br>
      <h1 style="font-weight: bold" class="text-center">Worldwide Latest News</h1><br>
      
      <div class="col-4 p-5">
        <div class="card" style="width: ;">
  <img src="{% static 'images/soap.jpg' %}" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>

      <div class="col-4 p-5">
        <div class="card" style="width: ;">
  <img src="{% static 'images/touch.jpg' %}" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>

      <div class="col-4 p-5">
        <div class="card" style="width: ;">
  <img src="{% static 'images/close.jpg' %]" class="card-img-top" alt="..." height="250px"> 
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>

    </div>
    
  </div>
  
</div>


<div class="container-fluid p-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="{% static 'images/home3.png' %}" width="80%">
      </div>

      <div class="col-6">
        <h5 style="font-weight: bold;color: blue">FAQ''S</h5>
        <h1 style="font-weight: bold;">Frequently Ask Questions?</h1><br>

<details>
         <summary style="font-weight: bold;font-size: 20px;">What is noval coronavirus?</summary><br>

            <p style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</details><br>

<details>
         <summary style="font-weight: bold;font-size: 20px;">Why might someone blame or avoid individuals and groups?</summary><br>

            <p style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</details><br>

<details>
          <summary style="font-weight: bold;font-size: 20px;">Can someone who has had covid-19?</summary><br>

            <p style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</details><br>

<details>
          <summary style="font-weight: bold;font-size: 20px;">Why is the disease being called coronavirus disease COVID-19?</summary><br>

            <p style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</details><br>

<details>
          <summary style="font-weight: bold;font-size: 20px;">How can people help stop stigma related to COVID-19? </summary><br>

            <p style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</details><br>

<details>
          <summary style="font-weight: bold;font-size: 20px;">Can someone who has had COVID-19 spread to others?</summary><br>

            <p style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</details><br>

<details>
          <summary style="font-weight: bold;font-size: 20px;">Will warm weather stop the outbreak of COVID-19?</summary><br>

            <p style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</details><br>

<details>
  <summary style="font-weight: bold;font-size: 20px;">What temprature kills the virus that causes covid-19?</summary>

  <p style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</details>


      </div>
      
    </div>
    
  </div>
  
</div>

{% endblock %}
