{% extends 'base.html' %}
{% load static %}

{% block content %}

            
<div class="container-fluid p-5" style="background-image: url(../static/images/covid.jpg);background-size: cover; height: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-light text-center fw-bold">Prevention</h1>
        
      </div>
      
    </div>
  </div>
</div>


<div class="container-fluid p-5">
  <div class="container">
    <div class="row">

      <div class="col-3">
        <div class="card" style="">
  <img src="../static/images/soap.jpg" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">Wash your often with soap</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="../static/images/touch.jpg" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">Avoid touching your eyes,nose and mouth</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="../static/images/socialspreading.svg" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">Avoid close contact with people who are sick</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="../static/images/stay.jpg" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">Stay home if you are sick,get medical care</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      
    </div>
    
  </div>
  
</div>


<div class="container-fluid p-5">
  <div class="container">
    <div class="row">

      <div class="col-3">
        <div class="card" style="">
  <img src="../static/images/mouth.jpg" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">Cover your mouth and nose with a tissue</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="../static/images/wash.jpg" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">Immediately wash your hands with water</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="../static/images/mask.png" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">If you are sick: You should wear a facemask</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>

      <div class="col-3">
        <div class="card" style="">
  <img src="../static/images/clean.jpg" class="card-img-top" alt="..." height="250px">
  <div class="card-body">
    <h5 class="card-title">If surfaces are dirty,clean them</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </div>
      
    </div>
    
  </div>
  
</div>

{% endblock %}


     

